{{> head }}
{{> navbar }}
<div class="row">
  <div class="col-8">
    <h1>This is about page</h1>
  </div>
  <div class="col-4">
    <img src="accests/img/img1.jpeg" alt="img1" class="img-thumbnail">
  </div>
</div>
{{> footer }}